{% extends "base.html" %}

{% block content %}
    <div class="profile-section">
        <div class="user-info">
            <div class="user-avatar">
                <img src="{{ user.avatar(256) }}" alt="{{ user.username }}" class="profile-avatar">
            </div>
            <div class="user-name">
                {{ _('Lord %(username)s', username=user.username) }}
            </div>
            <div class="user-stats">
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                <p>{{ _('Last seen in the Realm: %(when)s', when=moment(user.last_seen).fromNow()) }}</p>
                <p>{{ _('%(count)d Bannermen', count=user.followers_count()) }}, {{ _('%(count)d Sworn To', count=user.following_count()) }}</p>
                
                {% if user == current_user %}
                <div class="edit-profile">
                    <a href="{{ url_for('main.edit_profile') }}" class="btn btn-primary">
                        {{ _('Edit Your House Details') }}
                    </a>
                </div>
                {% elif not current_user.is_following(user) %}
                <div class="follow-actions">
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Pledge Fealty'), class_='btn btn-primary') }}
                    </form>
                </div>
                {% else %}
                <div class="follow-actions">
                    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Break Oath'), class_='btn btn-primary') }}
                    </form>
                </div>
                {% endif %}
                {% if user != current_user %}
                <div class="message-actions">
                    <a href="{{ url_for('main.send_message', recipient=user.username) }}" class="btn btn-primary">
                        {{ _('Send Ravens') }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
